### 1. Setup & CSV einlesen

In [1]:
# -----------------------------------------------------------
# 1) Import necessary libraries
# -----------------------------------------------------------
import pandas as pd
import numpy as np
import re
import sys
!{sys.executable} -m pip install sqlalchemy pymysql

# Pretty display options for DataFrames
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 150)

# -----------------------------------------------------------
# 2) Load the dataset (adjust filename if needed)
# -----------------------------------------------------------
df = pd.read_csv("schweizer_wanderwege_alle.csv")

# First quick look
df.head()

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.45)
Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.1.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/mahasenkudadeniya/Library/Python/3.10/lib/python/site-packages (from sqlalchemy) (4.15.0)
WARNING: You are using pip version 21.2.3; however, version 25.3 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.

,web_scraper_order,web_scraper_start_url,detail_url,title,location,difficulty_level,duration,distance,physical_demand,ascent,descent,target_group,season,recommended_period
0,1766396370-1,https://www.schweizer-wanderwege.ch/de/wanderv...,https://www.schweizer-wanderwege.ch/de/wanderv...,Husky-Traum,Muotathal,NaN,NaN,4m,hoch,NaN,NaN,"Zyklus 1 (Grundschule / 6 - 9 Jahre alt), Zykl...",ganzjährig,NaN
1,1766396372-2,https://www.schweizer-wanderwege.ch/de/wanderv...,https://www.schweizer-wanderwege.ch/de/wanderv...,Aufregende Ausblicke auf dem Hochalp Trail,"Urnäsch, Anker\n ...",NaN,6h 45min,11.4km,hoch,720m,720m,NaN,Winter,Dezember - März
2,1766396375-3,https://www.schweizer-wanderwege.ch/de/wanderv...,https://www.schweizer-wanderwege.ch/de/wanderv...,Den ganzen Tag im Schnee,Atzmännig SSA\n ...,NaN,1h 40min,4.2km,mittel,140m,510m,für Familien,Winter,Dezember - März
3,1766396377-4,https://www.schweizer-wanderwege.ch/de/wanderv...,https://www.schweizer-wanderwege.ch/de/wanderv...,Panorama Trail in Obwalden,Langis\n ...,NaN,4h 30min,12.3km,hoch,565m,565m,NaN,Winter,Dezember - März
4,1766396379-5,https://www.schweizer-wanderwege.ch/de/wanderv...,https://www.schweizer-wanderwege.ch/de/wanderv...,Schneeschuhwanderung auf den Chasseron,"Les Rasses, village\n ...",NaN,4h 20min,10km,hoch,450m,450m,NaN,Winter,Dezember - März

### 2. Remove unnecessary scraper columns

In [2]:
# -----------------------------------------------------------
# Remove columns created automatically by the web-scraper
# These do not contain useful analytical information
# -----------------------------------------------------------
columns_to_drop = ["web_scraper_order", "web_scraper_start_url"]

df = df.drop(columns=columns_to_drop, errors="ignore")

# Rename the "detail_url" column to a simpler name
df = df.rename(columns={"detail_url": "url"})

df.head()

,url,title,location,difficulty_level,duration,distance,physical_demand,ascent,descent,target_group,season,recommended_period
0,https://www.schweizer-wanderwege.ch/de/wanderv...,Husky-Traum,Muotathal,NaN,NaN,4m,hoch,NaN,NaN,"Zyklus 1 (Grundschule / 6 - 9 Jahre alt), Zykl...",ganzjährig,NaN
1,https://www.schweizer-wanderwege.ch/de/wanderv...,Aufregende Ausblicke auf dem Hochalp Trail,"Urnäsch, Anker\n ...",NaN,6h 45min,11.4km,hoch,720m,720m,NaN,Winter,Dezember - März
2,https://www.schweizer-wanderwege.ch/de/wanderv...,Den ganzen Tag im Schnee,Atzmännig SSA\n ...,NaN,1h 40min,4.2km,mittel,140m,510m,für Familien,Winter,Dezember - März
3,https://www.schweizer-wanderwege.ch/de/wanderv...,Panorama Trail in Obwalden,Langis\n ...,NaN,4h 30min,12.3km,hoch,565m,565m,NaN,Winter,Dezember - März
4,https://www.schweizer-wanderwege.ch/de/wanderv...,Schneeschuhwanderung auf den Chasseron,"Les Rasses, village\n ...",NaN,4h 20min,10km,hoch,450m,450m,NaN,Winter,Dezember - März

### 3. Remove duplicate routes using the unique URL

In [3]:
# -----------------------------------------------------------
# Remove duplicate hiking routes based on the URL.
# The URL uniquely identifies a hiking detail page.
# -----------------------------------------------------------
before = len(df)
df = df.drop_duplicates(subset=["url"])
after = len(df)

print("Rows before removing duplicates:", before)
print("Rows after:", after)

Rows before removing duplicates: 375
Rows after: 375

### 4. Convert distance to a numeric float (km)

In [4]:
# -----------------------------------------------------------
# Convert values like "11km" into the numeric value 11.0
# -----------------------------------------------------------

def parse_distance_km(x):
    """
    Convert strings such as '11km' or '11 km' to a float.
    If the value cannot be parsed, return NaN.
    """
    if pd.isna(x):
        return np.nan

    m = re.match(r"([\d.]+)\s*(km|m)$", str(x).lower())
    if not m:
        return np.nan

    value, unit = m.groups()
    return float(value) / 1000 if unit == "m" else float(value)

df["distance_km"] = df["distance"].apply(parse_distance_km)

df[["distance", "distance_km"]].head()

  distance  distance_km
0       4m        0.004
1   11.4km       11.400
2    4.2km        4.200
3   12.3km       12.300
4     10km       10.000

### 5. Convert duration into total minutes

In [5]:
# -----------------------------------------------------------
# Convert strings like "3h 15min" into total minutes.
# Example: "3h 15min" → 195 minutes
#          "2h" → 120
#          "45min" → 45
# -----------------------------------------------------------

def duration_to_minutes(x):
    if pd.isna(x):
        return np.nan
    
    text = str(x).lower().replace(" ", "")
    
    # Extract hours and minutes
    hours = 0
    minutes = 0

    h_match = re.search(r"(\d+)h", text)
    m_match = re.search(r"(\d+)min", text)

    if h_match:
        hours = int(h_match.group(1))
    if m_match:
        minutes = int(m_match.group(1))

    total = hours * 60 + minutes
    return total if total > 0 else np.nan

df["duration_min"] = df["duration"].apply(duration_to_minutes)

df[["duration", "duration_min"]].head()

   duration  duration_min
0       NaN           NaN
1  6h 45min         405.0
2  1h 40min         100.0
3  4h 30min         270.0
4  4h 20min         260.0

### 6. Convert ascent & descent into integer meters

In [6]:
# -----------------------------------------------------------
# Convert values like "310m" into integer values such as 310
# -----------------------------------------------------------

def height_to_m(x):
    if pd.isna(x):
        return np.nan
    match = re.findall(r"\d+", str(x))
    return int(match[0]) if match else np.nan

df["ascent_m"]  = df["ascent"].apply(height_to_m)
df["descent_m"] = df["descent"].apply(height_to_m)

df[["ascent", "ascent_m", "descent", "descent_m"]].head()

  ascent  ascent_m descent  descent_m
0    NaN       NaN     NaN        NaN
1   720m     720.0    720m      720.0
2   140m     140.0    510m      510.0
3   565m     565.0    565m      565.0
4   450m     450.0    450m      450.0

### 7. Split the location field into area, region, and canton

In [7]:
# -----------------------------------------------------------
# The 'location' field sometimes looks like:
# "Abländschen, Mittelberg — Saanen • BE"
#
# We split this into:
# - area        (left side of —)
# - region      (right side of —)
# - canton      (after the bullet •)
# -----------------------------------------------------------

def extract_canton(loc):
    if pd.isna(loc): return np.nan
    # Entferne Zeilenumbrüche und überflüssige Whitespaces
    loc_clean = ' '.join(str(loc).split())
    parts = loc_clean.split("•")
    return parts[-1].strip() if len(parts) > 1 else np.nan

def extract_region(loc):
    if pd.isna(loc): return np.nan
    loc_clean = ' '.join(str(loc).split())
    left = loc_clean.split("•")[0]
    if "—" in left:
        return left.split("—")[1].strip()
    return left.strip()

def extract_area(loc):
    if pd.isna(loc): return np.nan
    loc_clean = ' '.join(str(loc).split())
    left = loc_clean.split("•")[0]
    if "—" in left:
        return left.split("—")[0].strip()
    return left.strip()

df["canton"] = df["location"].apply(extract_canton)
df["region"] = df["location"].apply(extract_region)

df["area"]   = df["location"].apply(extract_area)

df[["location", "area", "region", "canton"]].head()

                                            location                 area               region canton
0                                          Muotathal            Muotathal            Muotathal    NaN
1  Urnäsch, Anker\n                              ...       Urnäsch, Anker       Urnäsch, Anker     AR
2  Atzmännig SSA\n                               ...        Atzmännig SSA    Atzmännig, Schutt     SG
3  Langis\n                                      ...               Langis               Langis     OW
4  Les Rasses, village\n                         ...  Les Rasses, village  Les Rasses, village     VD

### 8. Encode difficulty & physical demand (categorical → numeric)

In [8]:
# -----------------------------------------------------------
# Convert categorical difficulty levels to numeric values
# Example: T1→1, T2→2, ..., T6→6
# WICHTIG: difficulty_level bleibt mit T-Präfix (z.B. "T2")
# -----------------------------------------------------------

difficulty_map = {
    "T1": 1, "T2": 2, "T3": 3,
    "T4": 4, "T5": 5, "T6": 6
}

# Normalisiere nur Whitespace, entferne NICHT das T
df["difficulty_level"] = df["difficulty_level"].astype(str).str.strip().str.replace(r'\s+', '', regex=True)
df["difficulty_num"] = df["difficulty_level"].map(difficulty_map)


df[["difficulty_level", "difficulty_num"]].head()

  difficulty_level  difficulty_num
0              nan             NaN
1              nan             NaN
2              nan             NaN
3              nan             NaN
4              nan             NaN

In [9]:
# -----------------------------------------------------------
# Convert "leicht/mittel/hoch" to numeric 1/2/3
# -----------------------------------------------------------

physical_demand_map = {"leicht":1, "mittel":2, "hoch":3}

df["physical_demand"] = df["physical_demand"].astype(str).str.lower().str.strip()
df["physical_demand_num"] = df["physical_demand"].map(physical_demand_map)

df[["physical_demand", "physical_demand_num"]].head()

  physical_demand  physical_demand_num
0            hoch                  3.0
1            hoch                  3.0
2          mittel                  2.0
3            hoch                  3.0
4            hoch                  3.0

### 9. Remove rows missing essential numeric data

In [10]:
# -----------------------------------------------------------
# For modelling, we need the core numerical variables:
# distance_km, duration_min, ascent_m, difficulty_num
# We drop rows where these values are missing.
# -----------------------------------------------------------

essential = ["distance_km", "duration_min", "ascent_m", "difficulty_num"]

before = len(df)
df_clean = df.dropna(subset=essential).copy()  # .copy() prevents SettingWithCopyWarning
after = len(df_clean)

print("Rows before dropping missing:", before)
print("Rows after:", after)

Rows before dropping missing: 375
Rows after: 101

### Open-Data-Enrichment with longitude & latitude

In [11]:
# -----------------------------------------------------------
# Geocode Swiss hiking locations using OpenStreetMap (Nominatim)
# Returns latitude and longitude for each unique area
# -----------------------------------------------------------

import requests
import time


# -----------------------------------------------------------
# Geocoding function (OpenStreetMap Nominatim)
# 
def geocode_osm(place):
    """
    Query OpenStreetMap Nominatim API to get latitude and longitude
    for a given place in Switzerland.
    Returns (lat, lon) or (None, None) if nothing is found.
    """
    if pd.isna(place):
        return None, None
    
    url = "https://nominatim.openstreetmap.org/search"
    params = {
        "q": f"{place}, Switzerland",
        "format": "json",
        "addressdetails": 1,
        "limit": 1
    }
    headers = {"User-Agent": "Mozilla/5.0"}

    try:
        response = requests.get(url, params=params, headers=headers)
        data = response.json()

        if len(data) == 0:
            return None, None
        
        lat = float(data[0]["lat"])
        lon = float(data[0]["lon"])
        return lat, lon

    except:
        return None, None


# -----------------------------------------------------------
# Apply geocoding (with pause to respect API rules)
# -----------------------------------------------------------

df_clean["latitude"] = None
df_clean["longitude"] = None

for idx, row in df_clean.iterrows():
    place = row["area"]

    lat, lon = geocode_osm(place)
    df_clean.at[idx, "latitude"] = lat
    df_clean.at[idx, "longitude"] = lon
    
    print(f"Geocoded: {place} → {lat}, {lon}")
    
    time.sleep(1)  #  avoid rate limiting by OSM

Geocoded: Veltheim AG, Bären → None, None
Geocoded: Bibern SH, Dorf → 47.7726665, 8.6771953
Geocoded: Zeihen, Stauftel → None, None
Geocoded: Messen, Dorfplatz → None, None
Geocoded: Lamone-Cadempino → 46.0394453, 8.9322308
Geocoded: Gruyères → 46.5836823, 7.08159
Geocoded: Miécourt → 47.4270918, 7.1747627
Geocoded: Huttwil → 47.1147419, 7.8455436
Geocoded: Malans GR → 46.9821456, 9.5761204
Geocoded: Gresso → 46.2249288, 8.615729
Geocoded: Weinfelden → 47.5669187, 9.1097539
Geocoded: Frieswil → 46.9950916, 7.2850597
Geocoded: Wolhusen, Neuemsern-Rossei → None, None
Geocoded: Mendrisio → 45.8709661, 8.9875293
Geocoded: Münsingen → 46.8739775, 7.5631943
Geocoded: Tegerfelden, Hochbrücke → None, None
Geocoded: Laufenburg → 47.5604617, 8.0601696
Geocoded: Teufenthal AG → 47.3300709, 8.1152406
Geocoded: Rodersdorf → 47.4806046, 7.4566901
Geocoded: Zullwil → 47.3905084, 7.6000186
Geocoded: Attiswil → 47.2492334, 7.6133081
Geocoded: Caslano stazione → 45.976041, 8.877599
Geocoded: Liestal → 47.4839723, 7.7347783
Geocoded: Hildisrieden → 47.1513607, 8.2266792
Geocoded: Allaman → 46.4707776, 6.396174
Geocoded: Porto Ronco, Crodolo Verbano → 46.1330818, 8.718797
Geocoded: Schinznach Dorf, Oberdorf → 47.4469196, 8.1407153
Geocoded: Bruzella, Paese → None, None
Geocoded: Rosshäusern → 46.9343355, 7.2968204
Geocoded: Gais → 47.3625034, 9.4542517
Geocoded: Dürrenroth → 47.0902206, 7.7895896
Geocoded: Niederscherli → 46.8850228, 7.3893334
Geocoded: Nuglar, Dorfplatz → None, None
Geocoded: Gerolfingen → 47.075009, 7.2013134
Geocoded: Hofstetten SO, Unterdorf → None, None
Geocoded: Chevroux, port → 46.8998202, 6.8969022
Geocoded: Dotzigen → 47.1197383, 7.341198
Geocoded: Aarberg → 47.0443346, 7.2753004
Geocoded: Biel / Bienne → 47.1402077, 7.2439029
Geocoded: Château-de-Chillon → 46.4142394, 6.9276018
Geocoded: Rüeggisberg, Post → None, None
Geocoded: Linden, Dorf → 46.9528755, 7.6820339
Geocoded: Neuchâtel → 46.9895828, 6.9292641
Geocoded: Grimentz, pl. du Mélèze → None, None
Geocoded: Habstetten, Rössli → None, None
Geocoded: Olten → 47.3496571, 7.903787
Geocoded: Wauwil → 47.184353, 8.026173
Geocoded: Bellinzona → 46.1920538, 9.0205888
Geocoded: Courchapoix, village → None, None
Geocoded: Neuchâtel → 46.9895828, 6.9292641
Geocoded: Beromünster, Flecken → None, None
Geocoded: Häggenschwil-Winden → 47.5038653, 9.3586097
Geocoded: Münsterlingen Spital → 47.6320515, 9.2361096
Geocoded: Boudry Littorail → 46.9494086, 6.8390014
Geocoded: Kerns, Post → None, None
Geocoded: Ufhusen, Käserei Dorf → None, None
Geocoded: Frenkendorf-Füllinsdorf → 47.501507, 7.7192231
Geocoded: Schiltwald, Wendeplatz → None, None
Geocoded: Maur, See → 47.3403564, 8.6791866
Geocoded: La Vraconnaz, Les Rochettes → None, None
Geocoded: Ettingen, Dorf → None, None
Geocoded: Etziken, Dorf → None, None
Geocoded: Courtemaîche → None, None
Geocoded: Glattfelden → None, None
Geocoded: Bern, Elfenau → None, None
Geocoded: Boniswil → 47.3161571, 8.1852511
Geocoded: Anwil, Dorf → None, None
Geocoded: Arosio, Paese → None, None
Geocoded: Mittelhäusern → 46.8761849, 7.36711
Geocoded: Sion → 46.2311749, 7.3588795
Geocoded: Muttenz → 47.525113, 7.6477401
Geocoded: Intragna → 46.1775064, 8.700411
Geocoded: Stein am Rhein → 47.6597323, 8.8596823
Geocoded: Riehen → 47.5816927, 7.6479737
Geocoded: Thayngen → 47.7470005, 8.7061689
Geocoded: Fribourg/Freiburg Poya → 46.8150815, 7.1560209
Geocoded: Ostermundigen, Rüti → 46.9575702, 7.4938544
Geocoded: Morges → 46.5093268, 6.498317
Geocoded: Luzern, Maihof → 47.0586151, 8.310416
Geocoded: Notkersegg → 47.4260321, 9.4099225
Geocoded: Roveredo GR, Centro → None, None
Geocoded: Nussbaumen TG, Schulhaus → None, None
Geocoded: Dardagny, château → None, None
Geocoded: Zollhaus → 46.7118247, 7.3103528
Geocoded: Bruzella, Paese → None, None
Geocoded: Chiasso → 45.8355209, 9.0290169
Geocoded: Salorino, Municipio → None, None
Geocoded: Stabio, Madonnina → None, None
Geocoded: Scudellate, Paese → None, None
Geocoded: Stabio, Dazio Vecchio → None, None
Geocoded: Tremona → 45.8807051, 8.9565873
Geocoded: Meride, Paese → None, None
Geocoded: Herisau → 47.38555, 9.2787571
Geocoded: Chamoson-St-Pierre-de-Clages → 46.1889951, 7.2408518
Geocoded: Pully, Chenaulaz → None, None
Geocoded: Hindelbank, Post → None, None
Geocoded: Zollikerberg → 47.3456637, 8.5993998
Geocoded: Rottenschwil, Hecht → None, None
Geocoded: Häfelfingen, Bad Ramsach → None, None
Geocoded: Hitzkirch, Bahnhof → 47.2248217, 8.2628804
Geocoded: Rivera-Bironico → 46.1240899, 8.9249644

### 10. Save the cleaned dataset

In [12]:
# -----------------------------------------------------------
# Export the cleaned dataset so it can be used in the next steps
# (EDA, modelling, database storage, etc.)
# -----------------------------------------------------------

# Convert duration_min, ascent_m, and descent_m to integer for cleaner output
df_clean["duration_min"] = df_clean["duration_min"].astype(int)
df_clean["ascent_m"] = df_clean["ascent_m"].astype(int)
df_clean["descent_m"] = df_clean["descent_m"].astype(int)

# Bereinige location: entferne Zeilenumbrüche und überflüssige Whitespaces
df_clean["location_clean"] = df_clean["location"].apply(lambda x: ' '.join(str(x).split()) if pd.notna(x) else x)

# Extrahiere Canton aus der bereinigten Location (nach dem • Symbol)
def extract_canton_clean(loc):
    if pd.isna(loc): return np.nan
    if "•" in str(loc):
        return str(loc).split("•")[-1].strip()
    return np.nan

df_clean["canton_clean"] = df_clean["location_clean"].apply(extract_canton_clean)

# Entferne "• Canton" aus location, behalte nur die Ortsnamen
def clean_location_remove_canton(loc):
    if pd.isna(loc): return loc
    if "•" in str(loc):
        return str(loc).split("•")[0].strip()
    return str(loc).strip()

df_clean["location_clean"] = df_clean["location_clean"].apply(clean_location_remove_canton)

# Wähle nur die gewünschten Spalten aus
columns_to_export = [
    "url",
    "title", 
    "location_clean",
    "canton_clean",
    "difficulty_level",
    "duration_min",
    "distance_km",
    "ascent_m",
    "descent_m",
    "physical_demand",
    "latitude",
    "longitude"
]

df_export = df_clean[columns_to_export]

# Benenne Spalten für sauberes CSV
df_export = df_export.rename(columns={
    "location_clean": "location",
    "canton_clean": "canton"
})

print(f"✅ Prepared {len(df_export)} rows with {len(columns_to_export)} columns for MySQL export")

✅ Prepared 101 rows with 12 columns for MySQL export

### 11. Store data in MySQL database

In [13]:
# -----------------------------------------------------------
# MySQL connection setup
# Make sure Docker container is running: docker compose up -d
# -----------------------------------------------------------
from sqlalchemy import create_engine

# Database connection string
DB_USER = "root"
DB_PASSWORD = "password"
DB_HOST = "localhost"
DB_PORT = "3306"
DB_NAME = "wanderwege_db"

# Create database engine
connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(connection_string)

# Test connection
try:
    with engine.connect() as conn:
        print("✅ Successfully connected to MySQL database!")
        print(f"📊 Database: {DB_NAME}")
except Exception as e:
    print(f"❌ Connection failed: {e}")

✅ Successfully connected to MySQL database!
📊 Database: wanderwege_db

In [14]:
# -----------------------------------------------------------
# Write cleaned and enriched data to MySQL
# -----------------------------------------------------------

try:
    # Write DataFrame to MySQL table
    df_export.to_sql(
        name='wanderwege',           # Table name in MySQL
        con=engine,                   # SQLAlchemy engine
        if_exists='replace',          # Drop table if exists and recreate
        index=False,                  # Don't write DataFrame index
        chunksize=1000,              # Write in batches of 1000 rows
        method='multi'                # Use multi-row INSERT for better performance
    )
    
    print(f"✅ Successfully stored {len(df_export)} wanderwege in MySQL!")
    
    
    # Verify data was written correctly
    row_count_query = "SELECT COUNT(*) as count FROM wanderwege"
    result = pd.read_sql(row_count_query, con=engine)
    print(f"\n✓ Verification: {result['count'][0]} rows in database")
    
except Exception as e:
    print(f"❌ Error writing to database: {e}")

✅ Successfully stored 101 wanderwege in MySQL!

✓ Verification: 101 rows in database